.social {
    display: flex;
    justify-content: center;

    @include breackpoint($tablet-bp) {
        display: none;
    }
}

.social__item {
    margin: 0 .75rem;
}
.social__img {
    width: 30px;
    height: 30px;
}