.cabinet {
    display: flex;

    @include breackpoint ($mobile-bp) {
        flex-direction: column;
    }
}

.cabinet__form {
    width: 34rem;

    @include breackpoint ($mobile-bp) {
        order: 2
    }
}

.cabinet__avatar {
    flex-grow: 1;
    padding-left: 11rem;

    img {
        display: block;
        width: 15rem;
        height: 15rem;
        object-fit: cover;

        margin-bottom: 1.5rem;
    }

    @include breackpoint ($mobile-bp) {
        order: 1;
        padding-left: 0;
        margin-bottom: 3rem;
    }
}

.cabinet__file {
    font-size: 1.4rem;
    color: $blue;
    cursor: pointer;

    input {
        display: none;
    }

    &:hover {
        color: lighten($blue, 20%);
    }
}