<div class="modal">
    <div class="modal__content">

        <button class="modal__close" type="button">
            <img src="../assets/images/close.svg" alt="Закрыть">
        </button>

        <ul class="social">
            <li class="social__item">
                <a social__link href="">
                    <img class="social__img" src="../assets/images/share/1.svg" alt="WhatsApp">
                </a>
            </li>
            <li class="social__item">
                <a social__link href="">
                    <img class="social__img" src="../assets/images/share/2.svg" alt="">
                </a>
            </li>
            <li class="social__item">
                <a social__link href="">
                    <img class="social__img" src="../assets/images/share/3.svg" alt="">
                </a>
            </li>
            <li class="social__item">
                <a social__link href="">
                    <img class="social__img" src="../assets/images/share/4.svg" alt="">
                </a>
            </li>
        </ul>

    </div> <!-- ./modal__content-->
</div> <!-- ./modal-->