<div class="modal" id="story-modal">
    <div class="modal__content modal__content--story">
        <span class="fr-video">
            <video class="modal__video" autoplay muted src="../assets/images/202.mp4">
        </span>            
        </video>
        <!-- <span class="fr-video">
            <iframe class="modal__video" src="https://www.youtube.com/embed/aGLhSVsnlSM" title="Анимационный ролик - Грузоперевозки" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </span> -->
    </div>
</div>